{% extends "hiking/layout.html" %}
{% load static %}
{% block body %}
{% if user.is_authenticated %}
    {% if active %}
      {% if boolean %}
<h2>Results</h2>
<div class="row mx-auto">
    {% for hiking in active %}
    <div class="card mx-auto cardStyle">
      {% if hiking.image_url %}
        <img class="card-img-top imgStyle" src="{{ hiking.image_url }}" alt="Image">
      {% else %}
        <img class="card-img-top imgStyle" src="{% static 'nophoto.png' %}" alt="nophoto">
      {% endif %}
      <div class="card-body">
      <h5 class="card-title">{{hiking.title}}</h5>
      <ul class="list-group list-group-flush">
          <li class="list-group-item bg-transparent">{{hiking.short_description}}</li>
          <li class="list-group-item bg-transparent"><b> LOCATION: </b>{{hiking.location}}</li>
          <li class="list-group-item bg-transparent"><b>LEVEL: </b>{{hiking.level}}</li>
      </ul>
      <form method="GET" action="{% url 'singlehike' hiking.id %}">
        <input class="btn boton" type="submit" value="See more">
      </form>
      </div>
    </div>
{% endfor %}
{% endif %}
{% else %}
  <h2>No hikes availables</h2>
{% endif %}
{% else %}
<h1>Please Login or Register!</h1>
{% endif %}
{% endblock %}