{% extends "hiking/layout.html" %}
{% load static %}
{% block body %}
<img src="{% static 'banner3.png' %}" class="img-fluid" alt="Responsive image">
<h2 class="m-2"><b> The best guided hikes of the beauty Patagonia, book now!</b></h2>
{% if user.is_authenticated %}
    {% if active %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand">FILTER BY</a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#filter" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fas fa-filter iconStyle"></i></span>
        </button>
          <div class="collapse navbar-collapse" id="filter">
            <ul class="navbar-nav">
              <li class="nav-item secondText mr-1 mt-1"><b>LOCATION</b></li>
              <li class="nav-item">
              <form method="POST" action="{% url 'filterby' %}">
                  {% csrf_token %}
                <select class="form-control-sm" id="select-location"  name="location">
                      <option value="all">All locations</option>
                      <option value="San Martin de los Andes">San Martin de los Andes</option>
                      <option value="Bariloche">Bariloche</option>
                      <option value="Torres del Paine">Torres del Paine</option>
                      <option value="El Chaltenh">El Chalten</option>
                      <option value="El Bolson">El Bolson</option>
                  </select>
              </li>
              <li class="nav-item secondText ml-1 mt-1"><b>LEVEL</b></li>
              <li class="nav-item">
                <select class="form-control-sm ml-1 "  name="level">
                       <option value="any">All levels</option>
                       <option value="Easy">Easy</option>
                       <option value="Moderate">Moderate</option>
                       <option value="Strenuous">Strenuous</option>
                       <option value="Very difficult">Very difficult</option>
                </select>
              </li>
              <li class="nav-item">
                  <input class="btn boton pb-2 ml-1" type="submit" value="Filter">
                </form>  
              </li>
            </ul>
        
          </div>
        </nav>
        <div class="row mx-auto">
        {% for hiking in active %}
        {%  if hiking.status %}
        <div class="card mx-auto cardStyle">
          {% if hiking.image_url %}
            <img class="card-img-top imgStyle" src="{{ hiking.image_url }}" alt="Image">
          {% else %}
            <img class="card-img-top imgStyle" src="{% static 'nophoto.png' %}" alt="nophoto">
          {% endif %}
          <div class="card-body">
          <h5 class="card-title">{{hiking.title}}</h5>
          <ul class="list-group list-group-flush">
              <li class="list-group-item bg-transparent">{{hiking.short_description}}</li>
              <li class="list-group-item bg-transparent"><b> LOCATION: </b>{{hiking.location}}</li>
              <li class="list-group-item bg-transparent"><b>LEVEL: </b>{{hiking.level}}</li>
          </ul>
          <form method="GET" action="{% url 'singlehike' hiking.id %}">
          <input class="btn boton" type="submit" value="See more">
          </form>
          </div>
        </div>
        {% endif %}
        {% endfor %}
    {% else %}
    <h2>No hikes available</h2>
    {% endif %}
{% else %}
<div class="d-flex justify-content-center">
<h2>Welcome! Please <a class="navItem" href="{% url 'login' %}">Log In</a> or <a class="navItem" href="{% url 'register' %}">Register</a></h2>
</div>
{% endif %}
{% endblock %}