{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Hiking Patagonia{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
        <link href="{% static 'hiking/styles.css' %}" rel="stylesheet">
        <link rel="icon" href="{% static 'icon.png' %}">
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-transparent">
             <a class="navbar-item" href="{% url 'index' %}">
                <img src="{% static 'hiking/logo.png' %}" alt="logo" width="200">
            </a>

            <button class="navbar-toggler" data-toggle="collapse" data-target="#mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="fas fa-align-right iconStyle"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="mainMenu">
                     <ul class="navbar-nav"> 
                        <li class="nav-item">
                            <a class="nav-link navItem" href="{% url 'index' %}"><strong>HOME</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navItem" href="{% url 'favourite' %}"><strong>MY FAVOURITES</strong></a>
                        </li>
                        <a class="nav-link navItem" id="tocar" href="{% url 'profile' %}"><strong>MY BOOKINGS</strong></a>
                     </ul>
                     <ul class="navbar-nav ml-auto nav-flex-icons">
                        <li class="nav-link">
                                {% if user.is_authenticated %}
                                    <strong class="secondText">Welcome {{ request.user }}!</strong>
                                    {% else %}
                                        Not signed in
                                    {% endif %}
                                {% if user.is_authenticated %}
                        </li>
                            <li class="nav-item">
                                <a class="nav-link navItem" href="{% url 'logout' %}">Log Out</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link navItem" href="{% url 'login' %}">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link navItem" href="{% url 'register' %}">Register</a>
                            </li>
                        {% endif %}
                    </ul>
            </div>
        </nav> 

        {% block body %}
        {% endblock %}
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</html>
